*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Helvetica", sans-serif;
}

body {
  background-color: #cce5d0;
  height:100vh;
  width:100vh;
  display:block;
  position:relative;
}

.wrapper{
  display:block;
  background-color:#8fc199;
  width:600px;
  height:600px;
  position:absolute;
  top:50%;
  left:50%;
  padding:4px;
  outline:#22b39 solid, 7px;
  outline-offset:-15px;
  overflow:hidden;
}

.section_userform{
  width:75%;
  display:block;
  margin:0 auto;
  color:#fff;
}

.input_label{
  width:35%;
  text-align:right;
  font-size:1.5em;
}

.break{
  display:block;
  width:100%;
  margin:2em 0;
}

.textbox{
  width:50%;
  height:1.8em;
  box-sizing:content-box;
  border: 2px solid gray;
  background-color:#e1e0e0;
  padding-left:1em;
  color:black;
}

.button{
  display:block;
  margin:none;
  padding:0.5em 2.55em;
  text-transform:uppercase;
  background-color:e1e0e0;
  border-width:3px;
  border-radius:10px;
  border-style:solid;
  color:red;
  font-size:1.3em;
 }

.button:hover {
  background-color:#ffecd1;
  border-color:red;
 color:#8fc199;
  transform:scale(1.05);
}

.buttonWrapper{
  display:grid;
  justify-content:center;
}

.section_info{
  text-align:center;
  margin:1em;
  color:#082612;
}

#line{
  border-color:#fff;
  width:80%;
  margin-bottom:4em;
}

.result{
  width:45%;
  text-align:left;
  display:inline-block;
  font-size:1.5em;
  color:#082612;
}

.result_label{
  width:40%;
  text-align:right;
  display:inline-block;
  font-size:1.5em;
  color:#ffecd1;
}

.section_info h1{
  font-size:5em;
}

#before {
  opacity:1;
  display:block;
}

#after{
 display:none;
  opacity:0;
}

#input_username_button:focus #after{
  display:block;
  opacity:1;
}

#input_username_button:focus #before{
  display:hidden;
  opacity:0;
  position:absolute;
  top:800px;
}
